@use "../all" as *;

.banner {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  .infoBackdrop {
    @include frostedGlass;

    & {
      width: 60%;
      border-radius: 20px;
      padding: 4%;
    }

    .backdrop {
      border-radius: 20px;
    }

    .infoCol {
      position: relative;
      z-index: 12;
      color: #e0e0e0;
      line-height: 1;
      margin: 2.5% 0;

      @media (prefers-color-scheme: dark) {
        color: #171717;
      }

      .callToAction {
        text-transform: uppercase;
        font-weight: 300;

        @media (prefers-color-scheme: dark) {
          color: #171717;
        }
      }

      .title {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 2.5em;
      }

      .headline {
        font-weight: 300;
        // font-size: 1.5em;
        text-transform: uppercase;
      }

      .desc {
        line-height: 1.5;
        width: 90%;
      }

      .paraS {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1050px) {
  .banner {
    justify-content: center;
    .infoBackdrop {
      width: 90vw;
      .infoCol {
      }
    }
  }
}
