@use "../all" as *;

.footer {
  @include frostedGlass;

  & {
    width: 75%;
    margin: 2% auto;
    text-align: center;
    // bottom: 0;
    padding: 2% 0;
    background-color: $primary-color;
  }

  .footerInfo {
    z-index: 13;
  }
}

@media (max-width: 1050px) {
  .footer {
    width: 90vw;
    padding: 2em;
  }
}
