@use "../all" as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .greet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
    color: $secondary-color;

    .intro {
      h1 {
        font-size: 4.5rem;
        @include text-shadow;
      }

      h2 {
        @include text-shadow;
      }
    }

    .waiver {
      h2 {
        @include text-shadow;
      }

      .button {
        min-width: 25%;
        height: 6vh;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        font-size: 1rem;
        font-weight: 600;
        color: $secondary-color;
        transition: 300ms ease-in-out;

        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
          scale: 1.05;
          transition: 300ms ease-in-out;
        }
      }
    }
  }

  .scroll {
    position: absolute;
    text-align: center;
    bottom: 5%;
    width: 100%;
    color: $secondary-color;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero {
    .greet {
      width: 90vw;
      // font-size: 1.2rem;

      .waiver {
        .button {
          width: 60%;
          height: 6vh;
          font-size: 1rem;
        }
      }
    }
  }
}
