@use "../all" as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .greet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    color: $secondary-color;
    padding: 5% 10%;
    font-size: 1.5rem;
    font-weight: 20;
    text-align: center;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba($color: #aaaaaa, $alpha: 0.5);

    // background: rgba(155, 155, 155, 0.1);
    box-shadow: 0 8px 32px 0 rgba(134, 134, 134, 0.082);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .intro {
      p {
        font-size: 1.3rem;
        font-weight: 200;
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    .waiver {
      .button {
        min-width: 30%;
        height: 6vh;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        font-size: 1rem;
        font-weight: 600;
        color: $secondary-color;
        transition: 300ms ease-in-out;

        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
          scale: 1.05;
          transition: 300ms ease-in-out;
        }
      }
    }
  }

  .scroll {
    position: absolute;
    text-align: center;
    bottom: 5%;
    width: 100%;
    color: white;
  }
}

@media (max-width: 768px) {
  .hero {
    .greet {
      width: 90vw;
      font-size: 1.2rem;

      .waiver {
        .button {
          width: 60%;
          height: 6vh;
          font-size: 1rem;
        }
      }
    }
  }
}
