@use "../all" as *;

.prices {
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6vh;

    .header {
      width: 100%;
      text-align: center;
    }

    .card {
      width: 40%;
      height: 50vh;
      margin: 0 auto;
      border-radius: 15px;
      border: 1px solid rgba($color: #000, $alpha: 0.1);
      box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 2vh;

      .inner {
        background-color: red;
        width: 90%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        margin: 0 auto;
        position: relative;
        padding: 2vh 2vh;
        bottom: 0;
      }
    }

    .dayUse {
      display: flex;
    }

    .memberships {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .prices {
    .cards {
      flex-direction: column;
      .card {
        width: 100%;
        margin: 5% auto;
      }

      .dayUse {
        flex-direction: column;
      }
      .memberships {
        flex-direction: column;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .prices {
    .cards {
      .card {
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
        box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0.1);
      }
    }
  }
}
