@use "../all" as *;

.sectionComponent {
  padding-top: 10vh;

  .priceCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    z-index: 10;
    position: relative;

    .priceCard {
      @include frostedGlass;

      & {
        padding: 1.5rem;
        border-radius: 20px;
        width: 300px;
        min-height: 55vh;
        text-align: left;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      .priceCardInfo {
        z-index: 13;

        ul {
          list-style: none;
          padding: 0;

          .priceTitle {
            font-size: 1.5rem;
            font-weight: 00;
            margin-bottom: 1rem;
            // text-transform: uppercase;
            text-align: center;
          }

          .itemName {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          .priceInfo {
            font-size: 1rem;
            margin-bottom: 0.5rem;

            .price {
              font-weight: 700;
            }
          }

          .priceDesc {
            font-size: 0.9rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .sectionComponent {
    .priceCards {
      .priceCard {
        width: 100%;
      }
    }
  }
}
