@use "../all" as *;

section.sectionComponent {
  max-width: 95vw;
  height: 100%;
  padding-top: 10vh;
    .pricesCards {
      padding: 2vh 0;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .pricesGroupOuter {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: center;
        width : 90%;
        gap : 3vw;
        
        .pricesGroupInner {
          box-shadow: 4px 4px rgb(31, 38, 135);
          backdrop-filter: blur( 10.5px );
          -webkit-backdrop-filter: blur( 15.5px );
          
          border-radius: 10px;
          // border: 3px solid  #1F2C42;
          width: 90%;
          background: #B8D2FF;
          display: flex;
          flex-direction: row;
          align-items: top;
          justify-content: center;
          width: 30vw;
          border-radius: 8px;
          transition: all 200ms ease-in-out;
        }
        .pricesGroupInner:hover {
          box-shadow: 8px 8px rgb(31, 38, 135);
          backdrop-filter: blur( 10.5px );
          -webkit-backdrop-filter: blur( 15.5px );
          transform: translateY(-1.5%) translateX(-1.5%);
          transition: all 200ms ease-in-out;
          
        }
        .pricesGroupItems {
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: top;

          padding: 2vw;
          width: 25vw;
          .priceTitle{
            font-size: 1.2em;
            font-weight: 700;
            // color: #f5c39f;
            color: #1F2C42
          }
          .priceText {
            .priceNumber {
              color: #d2691e;
            }
            color: #1F2C42;
            font-size: .8em;
          }
        }
      }
  }  
}
.blockDiv {
  margin-left: 2.5vw;
  width: 2.5vw;
  background-color: #B8D2FF;
  // border: solid rgb(31, 38, 135);
  transform: skewX(-12.5deg) translateX(2vw);
}
.imageContainer {
  width: 50vw;
  .imageClip {
    height: 100%;
    width:  100%;
    object-fit: cover;
    object-position: center;
    -webkit-clip-path: polygon(20% 0%, 0% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(20% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

@media (max-width: 1200px) {
  section.sectionComponent {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  section.sectionComponent {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  section.sectionComponent {
    font-size: 12px;
  }
}